.button {
    display:block;
    color: darkblue;
}
.h2{
    align-content: right;
}

.answers-choice {
    display: inline-block;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    width: 25%;
    font-size: 1.8rem;
    border: 0.1rem solid black;
    background-color: white;
}

.answers-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4ren 1.4rem 0 rgb(86, 165, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.time-control{
    justify-content: space-between;
}


