html, body {
    height: 100%;
    width: 100%;
  }
  h2{
    display: flex;
    justify-content: center;
  }
hr{
    width: 600%
}
  #outer-container{
    display: inline-block;
    align-content: center;
  }

  #time{
    font-size: large;
    font-weight: bold;
  }
  
  .d-flex{    
    text-align: center;   
  }

  #bod-control{
    display: inline-block;
    margin: 50px;   
  }


  #scores-container{
    display: flex;
    justify-content: center;
  }
    

 button{
    background-color: palevioletred;
 }